{% extends "base/base.html" %}

{% load static %}

{% block title %} Correo Enviado {% endblock %}

{% block content %}
<br>
<h2 style="text-align: center;">Correo Enviado</h2><br>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <p>Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
                <a href="{% url 'index' %}" class="btn btn-outline-primary" style="float: right;">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}